<nav class="sm:flex items-center justify-between flex-wrap bg-teal p-md">
    <div class="flex justify-between">
        <div class="flex items-center flex-no-shrink text-white">
            <svg class="fill-current h-md w-md mr-sm" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
            <span class="font-semibold text-xl tracking-tight">Tailwind CSS</span>
        </div>
        <div class="block sm:hidden self-center" onClick="window.toggleMenu()">
            <button class="flex items-center px-xs py-xxs border rounded text-white border-white">
            <svg class="fill-current h-xs w-xxs" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
        </div>
    </div>
    <div id="topNav" class="items-center hidden text-center sm:text-right sm:flex">
        {% assign pages = site.html_pages | sort: 'nav' %}
        {% for p in pages %}
            {% if p.nav %}
                <a class="block text-white lg:inline-block text-teal-lighter hover:text-white pt-md md:pt-none md:pr-sm" href="{{ p.url | relative_url }}" {% if p.url == page.url %} class="active" {% endif %}>
                    {{ p.title }}
                </a>
            {% endif %}
        {% endfor %}
        <a class="block text-white lg:inline-block lg:mt-0 text-teal-lighter hover:text-white pt-md sm:pt-none sm:pr-sm" href="{{ "/blog/all" | relative_url }}" {% if page.url contains "blog" %} class="selected" {% endif %}>Blog</a>
    </div>
</nav>
