/* Main Styles */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  font-family: $fontBody;
}
html {
  font-size: 18px;
  line-height: 1.48;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
}
h1 { 
  font-size: 4.0rem; 
  line-height: 1.2;  
  letter-spacing: -.1rem;
}
h2 { 
  font-size: 3.6rem; 
  line-height: 1.25; 
  letter-spacing: -.1rem; 
}
h3 { 
  font-size: 3.0rem; 
  line-height: 1.3;  
  letter-spacing: -.1rem; 
}
h4 { 
  font-size: 2.4rem; 
  line-height: 1.35; 
  letter-spacing: -.08rem; 
}
h5 { 
  font-size: 1.8rem; 
  line-height: 1.5;  
  letter-spacing: -.05rem; 
}
h6 { 
  font-size: 1.5rem; 
  line-height: 1.6;  
  letter-spacing: 0; 
}

/*** Links, Images, Lists ***/

a {
  color: inherit;
  text-decoration: none;
  word-break: break-word;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    line-height: 1.5;
}

/*** Footer ***/

footer {
    background-color: $colorFooter;
}
footer * {
    font-weight:300;
    font-size:16px;
}

/*** Forms ***/

input:not([type="submit"]), textarea {
    width: 100%;
    font-size:1rem;
    display: block;
    padding: 14px;
    margin:15px 0;
    border: 1px solid rgba(0,0,0,.125);
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: 0;
    border-color: #129FEA;
}

/*** Other ***/

blockquote {
  background: $colorGrey;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 20px;
}
blockquote p {
  display: inline;
}
code {
    font-family: 'Courier New', monospace;
    line-height: 1.5;
}
pre {
    padding: 15px 25px;
    overflow-x: scroll;
}
figure {
    margin: 0;
}

/** Browser Upgrade **/
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*** Syntax Highlighting ***/
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #000;
  background-color: $colorGrey;
}
.highlight .err {
  color: #002b36;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #657b83;
}
.highlight .cp {
  color: #b58900;
}
.highlight .nt {
  color: #b58900;
}
.highlight .o, .highlight .ow {
  color: #93a1a1;
}
.highlight .p, .highlight .pi {
  color: #93a1a1;
}
.highlight .gi {
  color: #859900;
}
.highlight .gd {
  color: #dc322f;
}
.highlight .gh {
  color: #268bd2;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #6c71c4;
}
.highlight .kc {
  color: #cb4b16;
}
.highlight .kt {
  color: #cb4b16;
}
.highlight .kd {
  color: #cb4b16;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #859900;
}
.highlight .sr {
  color: #2aa198;
}
.highlight .si {
  color: #d33682;
}
.highlight .se {
  color: #d33682;
}
.highlight .nn {
  color: #b58900;
}
.highlight .nc {
  color: #b58900;
}
.highlight .no {
  color: #b58900;
}
.highlight .na {
  color: #268bd2;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #859900;
}
.highlight .ss {
  color: #859900;
}

